/* 
text[default] = #424242
border[default] = #eeeeee

grey[100] = #f5f5f5
grey[200] = #eeeeee

blue[50] = #EAF0F6
blue[100] = #f1f5f9
blue[200] = #e3ebf3
blue[300] = #80A5C8
blue[400, brand] = #5587B6
blue[500, link] = #004b91
*/

* {
  box-sizing: border-box;
}

.PSPAGE {
  background: #f5f5f5 !important;
}

p,
span,
a {
  font-size: 0.875rem !important;
}

a {
  padding: 0.1rem 0.5rem !important;
  border-radius: 4px !important;
  background: #f1f5f9 !important;
  text-decoration: none !important;
  color: #004b91 !important;
}

a:hover {
  background: #e3ebf3 !important;
}

.PTUNDERLINE {
  text-decoration: none !important;
}

.PSHYPERLINK {
  text-decoration: none !important;
}

.PSHYPERLINK:link {
  line-height: 1.5 !important;
  background-color: transparent !important;
  color: #2a6da8 !important;
}

/* select */
select {
  border: 2px solid #eeeeee !important;
  border-radius: 8px !important;
  font-size: 0.875rem !important;
  padding: 0.5rem !important;
  cursor: pointer !important;
}

select:hover {
  border-color: #aac3da !important;
}

div[id^="win0divDERIVED_SSS_SCL_SSS_GO"] {
  margin-top: 0.5rem !important;
}

div[id^="win0divDERIVED_SSS_SCL_SSS_GO"] > a {
  background: #ffffff !important;
}

/* button */
.PSPUSHBUTTON {
  border: none !important;
  background: #d5e1ed !important;
  padding: 0.3rem 0.6rem !important;
  transition: box-shadow 200ms ease-in-out !important;
}

a.PSPUSHBUTTON:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.PSPUSHBUTTON:hover {
  background: #d5e1ed !important;
}

.PSPUSHBUTTON > span > input {
  color: #004b91 !important;
  font-size: 0.875rem !important;
  cursor: pointer !important;
}

/* go to top icon */
img[alt="Go to top icon"] {
  display: none !important;
}

table[id$="ICField130"] > tbody > tr > td > div[id^="win0divSTDNT_WEEK_SCHD"] {
  width: 350px !important;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: rgb(238, 238, 238) !important;
  border-image: initial !important;
  border-radius: 8px !important;
  padding: 5px !important;
  margin: 20px;
}

/* Makes Contact Information not ugly brown */
.PSLEVEL1GRIDLABEL, .PSLEVEL2GRIDLABEL, .PSLEVEL3GRIDLABEL {
  color: rgb(58 83 141) !important;
}

/* Gets rid of white square at top right*/
#pthdr2navbarlinks a.headerbutton {
  background-color: transparent !important;
}

/* Gets rid of white square at top left*/
#classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button {
  background-color: transparent !important;
}

.psc_form-xlarge #pagetitleheader {
  font-size: 18.5px !important;

}

.PSGROUPBOXWBO .PSGROUPBOXLABEL {
  padding: 8px 10px !important;
  background: transparent !important;
}

.PSGROUPBOXLABEL {
  font-size: 12pt !important;
}

.PTCPGROUPBOXMINPADDINGWBO, .PSGROUPBOXWBO {
  border-radius: 10px !important;
}



/* Tabs */ 
.PTGRIDTAB a span, #PSTAB a span {
  all: unset !important;
  font-size: small !important;
  padding: 7px 20px !important;
  margin: 2px 2px !important;
  border-radius: 5px !important;
  background: rgb(51, 102, 153) !important;
  color: #ffffff !important;
  display: inline-block !important;
  line-height: 1.5 !important;
  white-space: nowrap !important;
}

#PSTAB a, #PSTABNBO a {
  border-bottom: none !important;
}

.PSBOTTOMLINE {
  background: none !important;
}

.PABACKGROUNDINVISIBLE, .PAFRAMELEVEL1NBO, .PAFRAMELEVEL2NBO, .PAFRAMELEVEL3NBO, .PAGROUPBOXLEVEL1NBO, .PAGROUPBOXLEVEL2NBO, .PAGROUPBOXLEVEL3NBO, .PSFRAMECONFIRMNBO, .PSFRAMENBO, .PSLEVEL1GRIDNBO, .PSLEVEL2GRIDNBO, .PSLEVEL3GRIDNBO, .PTPAGELET, .PTS_NOBORDER {
  border-left-style: none !important;
}
